
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
}

.title {
  color: green;
  font-size: 36px;
  text-decoration: none;
}

.logo{
  width: 7vh;
}

#description {
  width: 70vw;
  text-align: left;
  margin: auto;
  padding: 10px;
  margin-top: 100px;
}

#description_tropical {
  width: 70vw;
  text-align: left;
  margin: auto;
  padding: 10px;
}

#description_desert {
  width: 70vw;
  text-align: left;
  margin: auto;
  padding: 10px;
}

#description_tundra {
  width: 70vw;
  text-align: left;
  margin: auto;
  padding: 10px;
}

#description_marine {
  width: 70vw;
  text-align: left;
  margin: auto;
  padding: 10px;
}


@import url("https://fonts.google.com/specimen/Roboto+Condensed Mediumo:400,500,700,300");
*, *:after, *:before {
  box-sizing: border-box;
}


p{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    color: black;
}

.circle  {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  width: 60vw;
  height: 60vh;
  margin-left: -5%;
}


.column  {
color: green;
text-align: center;
font-size: 22px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.column2 {
text-align: center;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: #5c5c5c;
}

/*
.circle {
  background-color: #aec09a;
  border-radius: 50%;
  position: relative;
  border: 3px solid #366818;
  height: 280px;
  width: 850px;
}


.column1 {
color: black;
text-align: center;
font-size: 32px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.column2 {
text-align: center;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: black;
font-size: 18px;
}


.circle2 {
background-color: #aec09a;
border-radius: 50%;
position: relative;
border: 3px solid #366818;
height: 330px;
width: 870px;
}

.column3 {
color: black;
text-align: center;
font-size: 22px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.column4 {
text-align: center;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color:  black;
font-size: 20px;
}

.circle3 {
background-color: #aec09a;
border-radius: 50%;
position: relative;
border: 3px solid #366818;
height: 440px;
width: 890px;
}

.column5 {
color: black;
text-align: center;
font-size: 22px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }

.column6 {
text-align: center;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: black;
font-size: 20px;
}

.circle4 {
background-color: #aec09a;
border-radius: 50%;
position: relative;
border: 3px solid #366818;
height: 280px;
width: 880px;
}

.column7 {
color: black;
text-align: center;
font-size: 22px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.column8 {
text-align: center;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: black;
font-size: 20px;
}

.circle5 {
background-color: #b0b8d1;
border-radius: 50%;
position: relative;
border: 3px solid #ba8943;
 height: 430px;
width: 940px;
}

.column9 {
color: black;
text-align: center;
font-size: 22px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.column10 {
text-align: center;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color:  black;
font-size: 20px;
}

.circle6 {
background-color: #b0b8d1;
border-radius: 50%;
position: relative;
border: 3px solid #ba8943;
 height: 280px;
width: 740px;
}

.column11 {
color: black;
text-align: center;
font-size: 22px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.column12 {
text-align: center;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: black;
font-size: 20px;
}

.circle7 {
background-color: #b0b8d1;
border-radius: 50%;
position: relative;
border: 3px solid #ba8943;
 height: 280px;
width: 740px;
}

.column13 {
color: black;
text-align: center;
font-size: 22px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.column14 {
text-align: center;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: black;
font-size: 20px;
}

.circle8 {
background-color: #b0b8d1;
border-radius: 50%;
position: relative;
border: 3px solid #ba8943;
 height: 320px;
width: 940px;
}

.column15 {
color: black;
text-align: center;
font-size: 22px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.column16 {
text-align: center;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: black;
font-size: 20px;
}

.circle9 {
background-color: #dbe9f7;
border-radius: 50%;
position: relative;
border: 3px solid #527081;
height:360px;
width: 999px;
}

.column17 {
color: black;
text-align: center;
font-size: 22px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.column18 {
text-align: center;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: black;
font-size: 20px;
}

.circle10 {
background-color: #dbe9f7;
border-radius: 50%;
position: relative;
border: 3px solid #527081;
height: 410px;
width: 820px;
}

.column19 {
color: black;
text-align: center;
font-size: 22px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.column20 {
text-align: center;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: black;
font-size: 20px;
}

.circle11 {
background-color: #dbe9f7;
border-radius: 50%;
position: relative;
border: 3px solid #527081;
 height: 350px;
width: 800px;
}

.column21 {
color: black;
text-align: center;
font-size: 22px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.column22 {
text-align: center;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: black;
font-size: 20px;
}

.circle12 {
background-color: #dbe9f7;
border-radius: 50%;
position: relative;
border: 3px solid #527081;
 height: 420px;
width: 870px;
}

.column23 {
color: black;
text-align: center;
font-size: 22px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.column24 {
text-align: center;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: black;
font-size: 20px;
}

.circle13 {
background-color: #6cb4cb;
border-radius: 50%;
position: relative;
border: 3px solid #164665;
 height: 380px;
width: 800px;
}

.column25 {
color: black;
text-align: center;
font-size: 22px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.column26 {
text-align: center;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: black;
font-size: 20px;
}


.circle14{
background-color: #6cb4cb;
border-radius: 50%;
position: relative;
border: 3px solid #164665;
 height: 340px;
width: 800px;
}

.column27 {
color: black;
text-align: center;
font-size: 22px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.column28 {
text-align: center;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: black;
font-size: 20px;
}

.circle15{
background-color: #6cb4cb;
border-radius: 50%;
position: relative;
border: 3px solid #164665;
height: 350px;
width: 800px;
}

.column29 {
color: black;
text-align: center;
font-size: 22px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.column30 {
text-align: center;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: color: black;
font-size: 20px;
}

.circle16{
background-color: #6cb4cb;
border-radius: 50%;
position: relative;
border: 3px solid #164665;
 height: 350px;
width: 800px;
}

.column31 {
  color: black;
text-align: center;
font-size: 22px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.column32 {
text-align: center;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: black;
font-size: 20px;
}
*/

/*creator column gallery*/
.columncreator {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}



#bottom {
position: absolute;
bottom: 0;
left: 0;
}

#second{
  background: #222;
  display: inline-block;
  padding: 0 15px;
  position: sticky;
  width: 100%;
}

.navbar {
  background: black;
  display: inline-block;
  padding: 0 15px;
  position: sticky;
  width: 100%;
}

.navbar li {
  display: table-cell;
  padding: 15px;
  min-width: 75px;
  text-align: center;
}
.navbar li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 32px;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}
.navbar li.active a {
  color: green;
  text-shadow: 1px 1px 2px #14171A;
}
.navbar li.marker {
  display: inline-block;
  position: absolute;
  height: 2px;
  padding: 0;
  background: green;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  top: calc(100% - 2px);
  left: 15px;
}
.navbar li.anim {
  -webkit-animation: 0.4s shake ease-in;
  animation: 0.4s shake ease-in;
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

#box1{
  overflow-x: hidden;
  overflow-x: scroll;
  position: relative;
  z-index: 0;
  background-image: url(../img/tropical.png);
  background-size: cover;
  border-radius: 30px;
  border: green 3px solid;
  width: 70vw;
  height: 70vh;
  text-align: center;
  margin: auto;
  padding: 10px;
  margin-top: 30px;
}

#box2{
  overflow-x: hidden;
  overflow-x: scroll;
  position: relative;
  z-index: 0;
  background-image: url(../img/desert.png);
  background-size: cover;
  border: green 3px solid;
  border-radius: 30px;
  width: 70vw;
  height: 70vh;
  text-align: center;
  margin: auto;
  padding: 10px;
  margin-top: 30px;
}

#box3{
  overflow-x: hidden;
  overflow-x: scroll;
  position: relative;
  z-index: 0;
  background-image: url(../img/tundra.png);
  background-size: cover;
  border: green 3px solid;
  border-radius: 30px;
  width: 70vw;
  height: 70vh;
  text-align: center;
  margin: auto;
  padding: 10px;
  margin-top: 30px;
}

#box4{
  overflow-x: hidden;
  overflow-x: scroll;
  position: relative;
  z-index: 0;
  background-image: url(../img/marine.png);
  background-size: cover;
  border: green 3px solid;
  border-radius: 30px;
  width: 70vw;
  height: 70vh;
  text-align: center;
  margin: auto;
  padding: 10px;
  margin-top: 30px;
`
}

.animal{
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: 40%
  height: 80vh;

}

#jag-pic{
  position: absolute;
  top: 40vh;
  left: 2vw;
  max-height: 250px;
}

#ott-pic{
  margin-right: 20px;
  position: absolute;
  top: 60vh;
  left: 80vh;
  max-width: 200px;
  z-index: -1;
}

#tap-pic{
  margin-right: 20px;
  position: absolute;
  top: 32vh;
  left: 55vh;
  max-width: 100px;
  z-index: -1;
}

#b-pic{
  position: absolute;
  top: 5vh;
  left: 45vh;
  max-width: 250px;
  z-index: -1;
}

#chet-pic{
  position: absolute;
top: 50vh;
left: 85vh;
max-height: 150px;
z-index: -1;
}

#ost-pic{
  position: absolute;
top: 45vh;
left: 10vh;
max-width: 400px;
z-index: -1;
}

#turt-pic{
  position: absolute;
top: 63vh;
left: 68vh;
max-width: 70px;
z-index: -1;
}

#sheep-pic{
  position: absolute;
   top: 25vh;
   left: 96vh;
   max-width: 80px;
   z-index: -1;
}

#pbear-pic{
  position: absolute;
    top: 50vh;
    left: 100vh;
    max-width: 150px;
    z-index: -1;
}

#nar-pic{
  position: absolute;
 top: 40vh;
 left: 30vh;
 max-width: 200px;
 z-index: -1;
}

#bis-pic{
  position: absolute;
  top: 45vh;
  left: 2vh;
  max-width: 300px;
  z-index: -1;
}

#car-pic{
  position: absolute;
  top: 37vh;
  left: 62vh;
  max-width: 200px;
  z-index: -1;
}

#bwhale-pic{
  position: absolute;
  top: 17vh;
  left: 32vh;
  max-width: 400px;
  z-index: -1;
}

#vaq-pic{
  position: absolute;
  top: 47vh;
  left: 72vh;
  max-width: 300px;
  z-index: -1;
}

#man-pic{
  position: absolute;
  top: 43vh;
  left: 12vh;
  max-width: 150px;
  z-index: -1;
}

#shark-pic{
  position: absolute;
  top: 5vh;
  left: 100vh;
  max-width: 150px;
  z-index: -1;
}

.hidden{
  display: none;
}

.animal .info{
  position:  relative;
  z-index: auto;
  margin-top: 5%;
  margin-left: 13%;
  margin-right: 13%;
  width: 65vw;
  height: 65vh;
  text-align: center;

}

.modal-body{
  font-size: 17px;
}

.modal-title{
  font-size: 30px;
}

.modal-header{
  background-color: green;
  color: white;
}

.front, .back {
  width:100%;
  min-height:300px;
  display: table;
}

.front h3, .back p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.fast {
  animation-duration: .5s;
}
.flashcard {
  cursor:pointer;
}

.bg-dark{
  background-color: black!important;
}

.navbar-brand{
  color: white;
}

.email{
  margin-top: 40px;
  position: relative;
  background-color: #232323;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

 label{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
}

#gap-section1{
  background-color: #81b977;
}

#form_question {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom: 20px;
  color: white;
  font-size: 16px;
}

#form_input, #form_message {
  outline: none;
  border: none;
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 15px;
  background-color: #fff;
  height:35px;
  width:350px;
}

#form_message {
  height:50px;
  width:235px;
  margin-right: 0;
}

#submit_field {
  justify-content: center;
  display: flex;
  margin: 0px;
  padding: 0px;
}

#form_button {
  outline: none;
  border: none;
  height:50px;
  width:115px;
  font-size:14px;
  background-color:green;
  color:#fff;
  transition: color 2s;
  font-weight:bold;
  margin-bottom: 15px;
  margin-left: 0;
}

#form_button:hover {
  transition: .75s;
  background-color: white;
  color: green;
}
  
