body{
  padding-left: 100px;
  padding-right: 100px;
}

#box1{
  position: relative;
  background-image: url(../img/tropical.png);
  background-size: cover;
  border-radius: 30px;
  width: 80vw;
  height: 80vh;
  text-align: center;
  margin: auto;
  padding: 10px;
  margin-top: 60px;
}

.animal{
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: 40%
  height: 80vh;
}

input{
  position: absolute;
  top: 33vh;
  left: 40vh;
  max-width: 150px;
}

.show{
  display: block !important;
}

.hidden{
  display: none;
}

.animal .info{
  position: relative;
  margin-top: 5%;
  margin-left: 13%;
  margin-right: 13%;
  width: 65vw;
  height: 65vh;
  border: 5px solid #FFFF00;
  background-color: pink;
  text-align: center;

}
